.leaflet-control-attribution.leaflet-control {
  display: none;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: saturate(666%);
}

.leaflet-touch .leaflet-bar {
  border: none;
  box-shadow: #00000046 0 3px 6px;
  border-radius: 6px;
  overflow: hidden;
}
