.hero-section {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1631679706909-1844bbd07221?q=80&w=1992&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #EEBC0D66;
  min-height: 86svh;
}

.hero-wrapper {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
}